@mixin flexContent($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background: red;    
    img{
        width: 100px;
    }
    button {
        font-size: 15px;
        font-weight: bold;
        border-radius: 30px;
        text-transform: uppercase;
        i {
            color: black;
        }
    }
    i {
        opacity: 0.75;
        color:  bisque;
    }
    a{
        text-decoration: none;
        color:  bisque;
    }
    .header__login {
        display: none;
    }
    
}
footer {
    img {
        width: 250px;
    }
    .copyright {
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: #666;
        margin-bottom: 12px;
    }
    i {
        margin: 5px;
    }
}
@media screen and (min-width: 768px){
    header{
        .header__login{
            display: block;
        }
        .fa-user {
            display: none;
        }
    }
}