@mixin flexContent($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin news__tag($color:red) {
    background-color: rgb(238, 238, 238);
    color: $color;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    font-size: large;
    left: 0;
    bottom: 22px;
    padding: auto;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f4f5f6;
    font-size: 13px;
    line-height: 18px;
    a{
      text-decoration: none;
      &:hover {
          text-decoration-color: red;
      }  
    }
}
header{
    background: red;    
    img{
        width: 120px;
    }
    button {
        font-size: 20px;
        font-weight: bold;
        border-radius: 30px;
        text-transform: uppercase;
        i {
            color: black;
        }
    }
    i {
        font-size: 20px;
        opacity: 0.75;
        color:  bisque;
    }
    a{
        text-decoration: none;
        color:  bisque;
    }
    .header__login {
        display: none;
    }
    .header_btn{
        font-size: medium;
    }
    
}
article {
    width: 90%;

     .article__header {
         text-transform: uppercase;
         font-size: large;
         color: #666;
         font-weight: bolder;
     }
     img {
        width: 100%;
     }

     .top__story {
         position: relative;
     }
     .top__story-photo {
         position: relative;
     }
     .top__story-header a {
         font-size: 20px;
         line-height: 0.2px;
         font-weight: bold;
        color: black;
        text-decoration: none;
     }
     .news__tag {
         @include news__tag();
     }
     
}
section {
    width: 90%;

     .section__header {
         text-transform: uppercase;
         font-size: large;
         color: #666;
         font-weight: bolder;
     }
     img {
        width: 100%;
     }

     .top__story {
         position: relative;
     }
     .top__story-photo {
         position: relative;
     }
     .top__story-header a {
         font-size: 20px;
         font-weight: bold;
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: red;
        }
     }
     .news__tag {
         @include news__tag();
     }
}

.debate__header {
    width: 100%;
    border-bottom: 5px solid #666;
     .header__title {
         text-transform: uppercase;
         font-size: large;
         color: #666;
         font-weight: bolder;
         
     }
}
.debate__details {
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 21px;
    font-weight: bold;
}
.vs {
    text-align: center;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    width: 30px;
    height: 30px;
    font-size: larger;
    color: #d6d6d6;
    background-color: black;    
    font-weight: bold;
    left: 46%;
    top: 50%;    
}
.vs__bottom {
    border-bottom: 5px solid #666;
}

.section__more-stories{
   img{
      width: 100px;
      height: 100px; 
   }
   h3 {
       font-size: 20px;
       font-weight: bold;
       } 
       h5 {
           font-size: small;
       }
}
.my__turn-details {
    img{
        width: 100%;
        height:400px ;

    }
    .summary {
        tab-size: 40px;
        font-weight: bold;
    }
}
.culture__story {

    .news__tag {
        background-color: rgb(70, 162, 168);
        color: black;
        text-transform: uppercase;
        position: relative;
        font-weight: bold;
        font-size: medium;
        left: 0;
        bottom: 22px;
        padding: auto;
    }

    .summary {
        tab-size: 40px;
        font-weight: bold;
    }
}
.sign__up {
    width: 70%;
    margin: auto;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    .icon {
        background-color: red;
        width: 50px;
        height: 40px;
        padding: 10px;
        text-align: center;
        font-family: 'Roboto Condensed' sans-serif;
        font-size: larger;
        font-weight: bolder;
        color: white;
    }
}
.magazine__header {    
    font-weight: bold;
    font-size: large;
    margin: auto;
    text-transform: uppercase;

    .icon {
        background-color: red;
        width: 50px;
        height: 40px;
        padding: 10px;
        text-align: center;
        font-family: 'Roboto Condensed' sans-serif;
        font-size: larger;
        font-weight: bolder;
        color: white;
    } 
}
.magazine_date {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: medium;
    position: relative;
    left: 0;
    bottom: 20px;
}
.section__features {    
    width: 100%;
    .header__features {
        font-size: large;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        background: #999;
        a {
            text-decoration: none;
            color: black;
        }
        &:hover {
            text-decoration-color: red;
            background: #666;
        }
    }
    img {
        width: 100%;
        height: 300px;
    }
    span{
        font-size: large;
        font-weight: bold;
        text-transform: uppercase;
    }
    .tag_sub{
        color: white;
        background-color: red;
    }
    .tag_other{
        color: red;
    }
    h5{
        font-size: medium;
        font-weight: bold;       
    }
}
.section__us {
    width: 100%;

    .section__us-header {
        color: red;
        text-transform: uppercase;
        font-size: large;
        font-weight: bold;
    } 
    h3 {
        line-height: 20px;
    }
    .section__us-sub{
        img{
            width: 100%;

        }
    }
}
    
.section__newsletter {
    .section_newsletter-header {
        color: red;
        text-transform: uppercase;
        font-size: large;
        font-weight: bold;
    }
    span{
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: large;
    }
    img {
        height: 200px;
    }
    p{
        text-align: center;
        font-size: medium;
    }
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 10px;
    img {
        width: 250px;
    }
    .copyright {
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: #666;
        margin-bottom: 12px;
    }
    .social{
        li{
            margin-right: 0;
        }
    }
    i {
        margin: 5px;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px){
    header{
        .header__login{
            font-size: 20px;
            font-weight: bold;
            display: block;
            &:hover{
                text-decoration: none;
                color: #f4f5f6;;
            }
        }
        .fa-user {
            display: none;
        }
    }
}