* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #f4f5f6;
  font-size: 13px;
  line-height: 18px;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration-color: red;
}

.top__nav {
  background: red;
}
.top__nav img {
  width: 120px;
}
.top__nav button {
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  text-transform: uppercase;
}
.top__nav button i {
  color: black;
}
.top__nav i {
  font-size: 20px;
  opacity: 0.75;
  color: bisque;
}
.top__nav a {
  text-decoration: none;
  color: bisque;
}
.top__nav .header__login {
  display: none;
}
.top__nav .header_btn {
  font-size: medium;
}

article {
  width: 100%;
}
article .article__header {
  text-transform: uppercase;
  font-size: large;
  color: #666;
  font-weight: bolder;
}
article img {
  width: 100%;
}
article .top__story {
  position: relative;
}
article .top__story-photo {
  position: relative;
}
article .top__story-header a {
  font-size: 20px;
  line-height: 0.2px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
article .news__tag {
  background-color: #eeeeee;
  color: red;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  font-size: large;
  left: 0;
  bottom: 22px;
  padding: auto;
}

section {
  width: 100%;
}
section .section__header {
  text-transform: uppercase;
  font-size: large;
  color: #666;
  font-weight: bolder;
}
section img {
  width: 100%;
}
section .top__story {
  position: relative;
}
section .top__story-photo {
  position: relative;
}
section .top__story-header a {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
section .top__story-header a:hover {
  text-decoration: red;
}
section .news__tag {
  background-color: #eeeeee;
  color: red;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  font-size: large;
  left: 0;
  bottom: 22px;
  padding: auto;
}

.debate__header {
  width: 100%;
  border-bottom: 5px solid #666;
}
.debate__header .header__title {
  text-transform: uppercase;
  font-size: large;
  color: #666;
  font-weight: bolder;
}

.debate__details {
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 21px;
  font-weight: bold;
}

.vs {
  text-align: center;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  font-size: larger;
  color: #d6d6d6;
  background-color: black;
  font-weight: bold;
  left: 46%;
  top: 50%;
}

.vs__bottom {
  border-bottom: 5px solid #666;
}

.section__more-stories img {
  width: 100px;
  height: 100px;
}
.section__more-stories h3 {
  font-size: 20px;
  font-weight: bold;
}
.section__more-stories h5 {
  font-size: small;
}

.my__turn-details img {
  width: 100%;
  height: 400px;
}
.my__turn-details .summary {
  tab-size: 40px;
  font-weight: bold;
}

.culture__story .news__tag {
  background-color: #46a2a8;
  color: black;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  font-size: medium;
  left: 0;
  bottom: 22px;
  padding: auto;
}
.culture__story .summary {
  tab-size: 40px;
  font-weight: bold;
}

.sign__up {
  width: 70%;
  margin: auto;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}
.sign__up .icon {
  background-color: red;
  width: 50px;
  height: 40px;
  padding: 10px;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  font-size: larger;
  font-weight: bolder;
  color: white;
}

.magazine__header {
  font-weight: bold;
  font-size: large;
  margin: auto;
  text-transform: uppercase;
}
.magazine__header .icon {
  background-color: red;
  width: 50px;
  height: 40px;
  padding: 10px;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  font-size: larger;
  font-weight: bolder;
  color: white;
}

.magazine_date {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
  font-size: medium;
  position: relative;
  left: 0;
  bottom: 20px;
}

.section__features {
  width: 100%;
}
.section__features .header__features {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: #999;
}
.section__features .header__features a {
  text-decoration: none;
  color: black;
}
.section__features .header__features:hover {
  text-decoration-color: red;
  background: #666;
}
.section__features img {
  width: 100%;
  height: 500px;
}
.section__features span {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.section__features .tag_sub {
  color: white;
  background-color: red;
}
.section__features .tag_other {
  color: red;
}
.section__features h5 {
  font-size: medium;
  font-weight: bold;
}

.feature__news span {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.feature__news .tag_sub {
  color: white;
  background-color: red;
}
.feature__news .tag_other {
  color: red;
}
.feature__news h5 {
  font-size: medium;
  font-weight: bold;
}

.section__us {
  width: 100%;
}
.section__us .section__us-header {
  color: red;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}
.section__us h3 {
  line-height: 20px;
}
.section__us .section__us-sub img {
  width: 100%;
}

.section__newsletter .section_newsletter-header {
  color: red;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}
.section__newsletter span {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
}
.section__newsletter img {
  height: 200px;
}
.section__newsletter p {
  text-align: center;
  font-size: medium;
}

.section__opinion .header__title {
  text-transform: uppercase;
  font-size: large;
  color: #666;
  font-weight: bolder;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 10px;
}
footer img {
  width: 250px;
}
footer .copyright {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 12px;
}
footer .social li {
  margin-right: 0;
}
footer i {
  margin: 5px;
  font-size: 14px;
}

.news-letter-img {
  width: 150px;
  position: relative;
  left: -105px;
  top: 20px;
}

@media screen and (min-width: 768px) {
  section {
    width: 100%;
  }

  article {
    width: 100%;
  }

  header .sub__nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
  }
  header .sub__nav a:hover {
    text-decoration-color: red;
  }

  .top__nav .header__login {
    font-size: 20px;
    font-weight: bold;
    display: block;
  }
  .top__nav .header__login:hover {
    text-decoration: none;
    color: #f4f5f6;
  }
  .top__nav .fa-user {
    display: none;
  }

  .feature__story img {
    width: 100%;
    height: 250px;
  }

  .culture__story img {
    width: 80%;
  }
  .culture__story .news__tag {
    background-color: #46a2a8;
    color: black;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    line-height: 10px;
    font-size: 14px;
    left: 0;
    bottom: 33px;
    padding: auto;
  }

  .my__turn-details {
    text-align: left;
    margin-right: 5px;
  }
  .my__turn-details img {
    width: 150px;
    height: 100px;
  }

  .section__features {
    font-size: small;
  }
  .section__features img {
    height: 150px;
  }
  .section__features span {
    font-size: small;
  }

  .feature__news span {
    font-size: small;
  }

  .news-letter-img {
    width: 200px;
    height: 200px;
    position: relative;
    top: -180px;
    left: 50px;
  }
}
@media (min-width: 990px) {
  .sign__up {
    width: 100%;
  }

  .top__sub-nav {
    background: red;
    font-size: larger;
  }

  .my__turn-details img {
    width: 220px;
    height: 200px;
  }

  .header__login {
    color: #f4f5f6;
    font-weight: bold;
    font-size: large;
  }

  .header_btn {
    font-size: medium;
    border-radius: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
